.enter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter img{
    margin-top: 2rem;
    width: 80rem;
    height: 33rem;
}

@media (max-width: 768px) {
    .enter img{
        margin-top: 0rem;
        width: 22rem;
        height: 17rem;
        object-fit: contain;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .enter img{
        width: 80rem;
        height: 20rem;
        object-fit: contain;
    }
}